body{
	background-color: white;

}


.parallax {
    background-image: url('../pictures/contrail.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

